.network {
  padding-bottom: 5rem;
  &-img {
    margin: 13.1rem auto 6rem auto;
    img {
      width: 100%;
    }
  }
  &-sponsore-img {
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
