.plan {
  padding: 8rem 1.5rem 15rem;
  &-list {
    margin-top: 6.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 109.2rem;
    @include flexBox(stretch, center);
  }
  &-item-top {
    @include flexBox(center, center, column);
  }
  &-img {
    width: 14.4rem;
  }
  &-item {
    @include flexBox(center, space-between, column);
    text-align: center;
    padding: 7.9rem 0 5rem;
    min-height: 76rem;
    border: 2px solid $secondary-color;
    border-radius: 1rem;
    background-color: white;
    width: 30%;
    transition: all 0.5s ease;
    &:hover {
      border-color: $primary-color;
    }
  }
  &-item:not(:first-child) {
    margin-left: 5rem;
  }
  &-title {
    @include textStyle($title-color, 1.8rem, 500);
    line-height: 1.66;
    margin: 3rem 0;
    text-transform: capitalize;
  }
  &-options-item {
    @include flexBox(center);
  }
  &-options-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  &-options-desc {
    @include textStyle($text-color, 1.4rem);
    line-height: 2.14;
    margin-left: 2rem;
    text-transform: capitalize;
  }
  &-options-img {
    @include size(2.4rem);
    flex-shrink: 0;
  }
  &-price {
    @include textStyle($title-color, 2.5rem, 500);
    line-height: 1.2;
    margin-bottom: 2rem;
    span {
      font-weight: 400;
      color: $text-color;
    }
  }
  &-btn {
    @include buttonStyle(5rem, white, $primary-color);
    border-width: 2px;
    @include textStyle($primary-color, 1.6rem, 700);
    line-height: 1.185;
    text-transform: capitalize;
    padding: 1.3rem 6.2rem;
    transition: all 0.25s linear;
    &:hover {
      background-color: $primary-color;
      color: white;
      -webkit-box-shadow: 0px 22px 54px -14px rgb(245 56 56 / 35%);
      box-shadow: 0px 22px 54px -14px rgb(245 56 56 / 35%);
    }
  }
  @include maxWidth(767px) {
    padding: 1.5rem 1.5rem 3rem;
    &-list {
      width: 100%;
      max-width: 100%;
      display: grid;
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-auto-columns: 85%;
      grid-auto-flow: column;
      grid-column-gap: 2rem;
      overflow-x: auto;
      padding: 1rem;
      justify-content: flex-start;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    &-item {
      width: 100%;
    }
    &-item:not(:first-child) {
      margin: 0;
    }
  }
}
