.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn-primary-hover {
  transition: all 0.3s linear;
  &:hover {
    transform: translateY(-1rem);
  }
}

.bg-color {
  background-image: linear-gradient(#fbfbfb, white);
}

.ml-content {
  margin-left: 15rem;
}

.block-box {
  max-width: 55.5rem;
  margin: 0 auto;
  &-title {
    @include textStyle($title-color, 3.5rem, 500);
    text-align: center;
    max-width: 38.3rem;
    margin: 0 auto;
    line-height: 1.43;
  }
  &-desc {
    @include textStyle();
    text-align: center;
    line-height: 1.875;
    margin-top: 2rem;
    strong {
      font-weight: 500;
    }
  }
}
