$primary-color: #f53838;
$secondary-color: #dddddd;
$title-color: #0b132a;
$text-color: #4f5665;
$text-color-light: #afb5c0;
$border-color: #eeeff2;
$primary-font: "Rubik", sans-serif;
$wrapper: 1920px;
$container: 1170px;
